---
import '../index.css'
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>devMint</title>
    <meta content="devMint" name="description">
    <link href="/sitemap-index.xml" rel="sitemap" />
  </head>
  <body>
    <p class="text-center font-bold text-primary">devMint.pl</p>
  </body>
</html>
