---
import Prose from '../components/prose.astro'
import MainLayout from '../layouts/main.astro'
---

<MainLayout description="a mint of creativity" title="devMint">
  <Prose>
    <h1>Résumé</h1>
  </Prose>
</MainLayout>
