@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-theme-black: rgb(65 65 65);

  --color-primary-lighter: rgb(235 250 250);
  --color-primary-light: rgb(155 228 228);
  --color-primary: rgb(46 170 170);
  --color-primary-dark: rgb(38 140 140);
  --color-rimary-darker: rgb(16 60 60);

  --color-secondary-lighter: rgb(234 250 245);
  --color-secondary-light: rgb(152 231 204);
  --color-secondary: rgb(38 161 119);
  --color-secondary-dark: rgb(34 144 107);
  --color-secondary-darker: rgb(15 62 46);

  --font-sans-serif: "Montserrat", serif;
  --font-serif: "Forum", serif;
  --font-logo: "Montserrat", serif;
}
